In [1]:
import sklearn

In [2]:
# 버전확인
sklearn.__version__

'0.24.1'

In [7]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier # 분류용 데이터에 사용
# from sklearn.tree import DecisionTreeRegressor # 회귀용 데이터에 사용
from sklearn.model_selection import train_test_split

In [8]:
import pandas as pd

In [10]:
iris = load_iris() # shift+tab 하면 뭐 볼 수 있음

In [11]:
type(iris)  # 딕셔너리같아 보였지만 아님. bunch라는 어쩌구임. 그래도 딕셔너리처럼 쓸 수 있음

sklearn.utils.Bunch

In [12]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [13]:
iris['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [14]:
iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [15]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [17]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [18]:
iris = load_iris(as_frame = True)

In [19]:
type(iris)

sklearn.utils.Bunch

In [21]:
iris # as_frame = True 로 했더니 형태가 조금 변함. 데이터프레임 형태로 나오게 됨.

{'data':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

 [150 rows x 4 columns],
 'target': 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: target, Length: 150, dtype: int32,
 'frame':      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

      target
 0         0
 1         0
 2         0
 3         0
 4         0
 ..      ...
 145       2
 146       2
 147       2
 148       2
 149       2

 [150 rows x 5 columns],
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\lool_\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [22]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [23]:
iris_df = iris['data']
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [25]:
iris_df['target'] = iris['target']

In [26]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [27]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [29]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [32]:
# test_size = 데이터를 몇% 쓸것인지. test랑 train이랑 합해서 100
# random_state = 이거 못들음
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size = 0.2, 
                                                    random_state=0)  #*이 하나면 리스트형태로 전달. 그래서 어레이 여러개가 올 수 있다.
                                                                     #**이렇게 두개면 딕셔너리형태로 전달

In [33]:
x_train, x_test, y_train, y_test

(     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 137                6.4               3.1                5.5               1.8
 84                 5.4               3.0                4.5               1.5
 27                 5.2               3.5                1.5               0.2
 127                6.1               3.0                4.9               1.8
 132                6.4               2.8                5.6               2.2
 ..                 ...               ...                ...               ...
 9                  4.9               3.1                1.5               0.1
 103                6.3               2.9                5.6               1.8
 67                 5.8               2.7                4.1               1.0
 117                7.7               3.8                6.7               2.2
 47                 4.6               3.2                1.4               0.2

      target
 137       2
 84        1
 27        0
 127       2
 132       2
 ..      ...
 9         0
 103       2
 67        1
 117       2
 47        0

 [120 rows x 5 columns],
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 114                5.8               2.8                5.1               2.4
 62                 6.0               2.2                4.0               1.0
 33                 5.5               4.2                1.4               0.2
 107                7.3               2.9                6.3               1.8
 7                  5.0               3.4                1.5               0.2
 100                6.3               3.3                6.0               2.5
 40                 5.0               3.5                1.3               0.3
 86                 6.7               3.1                4.7               1.5
 76                 6.8               2.8                4.8               1.4
 71                 6.1               2.8                4.0               1.3
 134                6.1               2.6                5.6               1.4
 51                 6.4               3.2                4.5               1.5
 73                 6.1               2.8                4.7               1.2
 54                 6.5               2.8                4.6               1.5
 63                 6.1               2.9                4.7               1.4
 37                 4.9               3.6                1.4               0.1
 78                 6.0               2.9                4.5               1.5
 90                 5.5               2.6                4.4               1.2
 45                 4.8               3.0                1.4               0.3
 16                 5.4               3.9                1.3               0.4
 121                5.6               2.8                4.9               2.0
 66                 5.6               3.0                4.5               1.5
 24                 4.8               3.4                1.9               0.2
 8                  4.4               2.9                1.4               0.2
 126                6.2               2.8                4.8               1.8
 22                 4.6               3.6                1.0               0.2
 44                 5.1               3.8                1.9               0.4
 97                 6.2               2.9                4.3               1.3
 93                 5.0               2.3                3.3               1.0
 26                 5.0               3.4                1.6               0.4

      target
 114       2
 62        1
 33        0
 107       2
 7         0
 100       2
 40        0
 86        1
 76        1
 71        1
 134       2
 51        1
 73        1
 54        1
 63        1
 37        0
 78        1
 90        1
 45        0
 16        0
 121       2
 66        1
 24        0
 8         0
 126       2
 22        0
 44        0
 97        1
 93        1
 26        0  ,
 137    2
 84     1
 27     0
 127    2
 132    2
       ..
 9      0
 103    2
 67     1
 117    2
 47     0
 Name: target, Length: 120, dtype: int32,
 114    2
 62     1
 33     0
 107    2
 7      0
 100    2
 40     0
 86     1
 76     1
 71     1
 134    2
 51     1
 73     1
 54     1
 63     1
 37     0
 78     1
 90     1
 45     0
 16     0
 121    2
 66     1
 24     0
 8      0
 126    2
 22     0
 44     0
 97     1
 93     1
 26     0
 Name: target, dtype: int32)

In [48]:
y_test

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
121    2
66     1
24     0
8      0
126    2
22     0
44     0
97     1
93     1
26     0
Name: target, dtype: int32

In [34]:
type(x_train)

pandas.core.frame.DataFrame

In [35]:
df_clf = DecisionTreeClassifier(random_state=11)

In [49]:
df_clf

DecisionTreeClassifier(random_state=11)

In [36]:
df_clf.fit(x_train,y_train)

DecisionTreeClassifier(random_state=11)

In [40]:
# predict : 답을 안주고 예측시켜보기
pred = df_clf.predict(x_test)

In [41]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [43]:
y_test

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
121    2
66     1
24     0
8      0
126    2
22     0
44     0
97     1
93     1
26     0
Name: target, dtype: int32

In [44]:
from sklearn.metrics import accuracy_score # 평가와 관련된 것들이 들어있음.

In [45]:
accuracy_score(y_test, pred)

1.0

In [50]:
# random_state = 0으로 해보기
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size = 0.2)

In [51]:
x_train, x_test, y_train, y_test

(     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 11                 4.8               3.4                1.6               0.2
 117                7.7               3.8                6.7               2.2
 119                6.0               2.2                5.0               1.5
 72                 6.3               2.5                4.9               1.5
 57                 4.9               2.4                3.3               1.0
 ..                 ...               ...                ...               ...
 23                 5.1               3.3                1.7               0.5
 55                 5.7               2.8                4.5               1.3
 76                 6.8               2.8                4.8               1.4
 82                 5.8               2.7                3.9               1.2
 107                7.3               2.9                6.3               1.8

      target
 11        0
 117       2
 119       2
 72        1
 57        1
 ..      ...
 23        0
 55        1
 76        1
 82        1
 107       2

 [120 rows x 5 columns],
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 90                 5.5               2.6                4.4               1.2
 122                7.7               2.8                6.7               2.0
 140                6.7               3.1                5.6               2.4
 79                 5.7               2.6                3.5               1.0
 83                 6.0               2.7                5.1               1.6
 0                  5.1               3.5                1.4               0.2
 43                 5.0               3.5                1.6               0.6
 99                 5.7               2.8                4.1               1.3
 70                 5.9               3.2                4.8               1.8
 61                 5.9               3.0                4.2               1.5
 17                 5.1               3.5                1.4               0.3
 88                 5.6               3.0                4.1               1.3
 9                  4.9               3.1                1.5               0.1
 34                 4.9               3.1                1.5               0.2
 135                7.7               3.0                6.1               2.3
 92                 5.8               2.6                4.0               1.2
 12                 4.8               3.0                1.4               0.1
 136                6.3               3.4                5.6               2.4
 37                 4.9               3.6                1.4               0.1
 2                  4.7               3.2                1.3               0.2
 54                 6.5               2.8                4.6               1.5
 15                 5.7               4.4                1.5               0.4
 26                 5.0               3.4                1.6               0.4
 104                6.5               3.0                5.8               2.2
 108                6.7               2.5                5.8               1.8
 125                7.2               3.2                6.0               1.8
 24                 4.8               3.4                1.9               0.2
 35                 5.0               3.2                1.2               0.2
 80                 5.5               2.4                3.8               1.1
 115                6.4               3.2                5.3               2.3

      target
 90        1
 122       2
 140       2
 79        1
 83        1
 0         0
 43        0
 99        1
 70        1
 61        1
 17        0
 88        1
 9         0
 34        0
 135       2
 92        1
 12        0
 136       2
 37        0
 2         0
 54        1
 15        0
 26        0
 104       2
 108       2
 125       2
 24        0
 35        0
 80        1
 115       2  ,
 11     0
 117    2
 119    2
 72     1
 57     1
       ..
 23     0
 55     1
 76     1
 82     1
 107    2
 Name: target, Length: 120, dtype: int32,
 90     1
 122    2
 140    2
 79     1
 83     1
 0      0
 43     0
 99     1
 70     1
 61     1
 17     0
 88     1
 9      0
 34     0
 135    2
 92     1
 12     0
 136    2
 37     0
 2      0
 54     1
 15     0
 26     0
 104    2
 108    2
 125    2
 24     0
 35     0
 80     1
 115    2
 Name: target, dtype: int32)

In [52]:
y_test

90     1
122    2
140    2
79     1
83     1
0      0
43     0
99     1
70     1
61     1
17     0
88     1
9      0
34     0
135    2
92     1
12     0
136    2
37     0
2      0
54     1
15     0
26     0
104    2
108    2
125    2
24     0
35     0
80     1
115    2
Name: target, dtype: int32

In [53]:
type(x_train)

pandas.core.frame.DataFrame

In [54]:
df_clf = DecisionTreeClassifier(random_state=0)

In [55]:
df_clf

DecisionTreeClassifier(random_state=0)

In [56]:
df_clf.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [57]:
# predict : 답을 안주고 예측시켜보기
pred = df_clf.predict(x_test)

In [58]:
pred

array([1, 2, 2, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 2, 1, 0, 2, 0, 0, 1, 0,
       0, 2, 2, 2, 0, 0, 1, 2])

In [59]:
y_test

90     1
122    2
140    2
79     1
83     1
0      0
43     0
99     1
70     1
61     1
17     0
88     1
9      0
34     0
135    2
92     1
12     0
136    2
37     0
2      0
54     1
15     0
26     0
104    2
108    2
125    2
24     0
35     0
80     1
115    2
Name: target, dtype: int32

In [60]:
from sklearn.metrics import accuracy_score # 평가와 관련된 것들이 들어있음.

In [61]:
accuracy_score(y_test, pred)

1.0

In [62]:
def test1(a,b):
    '''
    이 함수는 결과값이 3개로 나갑니다
    '''
    return a+b, a-b, a*b

In [63]:
test1()  # -> shift+tab 하면 위 주석이 나옴

TypeError: test1() missing 2 required positional arguments: 'a' and 'b'

# 과적합 참조
![과적합](다운로드.png)

```
print('hello')
```

In [64]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import numpy as np

In [65]:
iris = load_iris()
dt_clf = DecisionTreeClassifier(random_state=156)

In [67]:
kfold = KFold(n_splits = 5)  # 명령모드에서 shift+m하면 아래 탭과 합쳐짐, 분리는 명령모드 없이 ctrl+shift+(-)

In [68]:
cv_accuracy=[]

In [70]:
iris.data.shape

(150, 4)

In [74]:
n_iter = 0
for train_index, test_index in kfold.split(iris.data):    # .split 이 인덱스 값을 뽑아줌
#     print(train_index)
#     print("-"*50)
#     print(test_index)
#     print()
    x_train,x_test = iris.data[train_index],iris.data[test_index]
#    print(x_train, x_test)
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    dt_clf.fit(x_train, y_train)
    pred = dt_clf.predict(x_test)
    accuracy = accuracy_score(y_test,pred)   # 정확도
    cv_accuracy.append(accuracy)
    n_iter += 1
    print(f'{n_iter}번째 교차검증')
    print(f'학습데이터 건수 : {x_train.shape[0]}, 검증데이터 건수:{x_test.shape[0]}')
    print(f'정확도:{accuracy}')
print(np.mean(cv_accuracy))

1번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:1.0
2번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9666666666666667
3번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.8666666666666667
4번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9333333333333333
5번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.7333333333333333
0.9

In [75]:
kfold = KFold(n_splits = 5, shuffle=True)

In [76]:
cv_accuracy=[]

In [77]:
iris.data.shape

(150, 4)

In [78]:
n_iter = 0
for train_index, test_index in kfold.split(iris.data):    # .split 이 인덱스 값을 뽑아줌
#     print(train_index)
#     print("-"*50)
#     print(test_index)
#     print()
    x_train,x_test = iris.data[train_index],iris.data[test_index]
#    print(x_train, x_test)
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    dt_clf.fit(x_train, y_train)
    pred = dt_clf.predict(x_test)
    accuracy = accuracy_score(y_test,pred)   # 정확도
    cv_accuracy.append(accuracy)
    n_iter += 1
    print(f'{n_iter}번째 교차검증')
    print(f'학습데이터 건수 : {x_train.shape[0]}, 검증데이터 건수:{x_test.shape[0]}')
    print(f'정확도:{accuracy}')
print(np.mean(cv_accuracy))

1번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9
2번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9333333333333333
3번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9333333333333333
4번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.8666666666666667
5번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:1.0
0.9266666666666665

In [84]:
kfold = KFold(n_splits = 5, shuffle=True)

n_iter = 0
for train_index, test_index in kfold.split(iris.data):
    x_train,x_test = iris.data[train_index],iris.data[test_index]
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    
    print('학습용데이터 분포:\n', pd.Series(y_train).value_counts())
    print('검증용데이터 분포:\n', pd.Series(y_test).value_counts())

학습용데이터 분포:
 1    43
2    43
0    34
dtype: int64
검증용데이터 분포:
 0    16
1     7
2     7
dtype: int64
학습용데이터 분포:
 2    42
0    40
1    38
dtype: int64
검증용데이터 분포:
 1    12
0    10
2     8
dtype: int64
학습용데이터 분포:
 0    45
1    38
2    37
dtype: int64
검증용데이터 분포:
 2    13
1    12
0     5
dtype: int64
학습용데이터 분포:
 1    42
0    41
2    37
dtype: int64
검증용데이터 분포:
 2    13
0     9
1     8
dtype: int64
학습용데이터 분포:
 2    41
0    40
1    39
dtype: int64
검증용데이터 분포:
 1    11
0    10
2     9
dtype: int64

In [91]:
from sklearn.model_selection import StratifiedKFold

In [86]:
kfold = KFold(n_splits = 5, shuffle=False)  # 셔플을 안하게 했는데도 

n_iter = 0
for train_index, test_index in kfold.split(iris.data, iris.target):    # iris.target을 추가함으로써 알아서 비율을 맞췄다
    x_train,x_test = iris.data[train_index],iris.data[test_index]
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    
    print('학습용데이터 분포:\n', pd.Series(y_train).value_counts())
    print('검증용데이터 분포:\n', pd.Series(y_test).value_counts())

학습용데이터 분포:
 1    44
2    40
0    36
dtype: int64
검증용데이터 분포:
 0    14
2    10
1     6
dtype: int64
학습용데이터 분포:
 2    43
0    41
1    36
dtype: int64
검증용데이터 분포:
 1    14
0     9
2     7
dtype: int64
학습용데이터 분포:
 2    41
0    40
1    39
dtype: int64
검증용데이터 분포:
 1    11
0    10
2     9
dtype: int64
학습용데이터 분포:
 0    43
2    39
1    38
dtype: int64
검증용데이터 분포:
 1    12
2    11
0     7
dtype: int64
학습용데이터 분포:
 1    43
0    40
2    37
dtype: int64
검증용데이터 분포:
 2    13
0    10
1     7
dtype: int64

In [88]:
skfold = KFold(n_splits = 5, shuffle=True)

n_iter = 0
for train_index, test_index in skfold.split(iris.data, iris.target):
    x_train,x_test = iris.data[train_index],iris.data[test_index]
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    
    print('학습용데이터 분포:\n', pd.Series(y_train).value_counts())
    print('검증용데이터 분포:\n', pd.Series(y_test).value_counts())

학습용데이터 분포:
 2    43
0    39
1    38
dtype: int64
검증용데이터 분포:
 1    12
0    11
2     7
dtype: int64
학습용데이터 분포:
 1    41
2    41
0    38
dtype: int64
검증용데이터 분포:
 0    12
1     9
2     9
dtype: int64
학습용데이터 분포:
 1    41
0    40
2    39
dtype: int64
검증용데이터 분포:
 2    11
0    10
1     9
dtype: int64
학습용데이터 분포:
 0    44
1    40
2    36
dtype: int64
검증용데이터 분포:
 2    14
1    10
0     6
dtype: int64
학습용데이터 분포:
 2    41
1    40
0    39
dtype: int64
검증용데이터 분포:
 0    11
1    10
2     9
dtype: int64

In [92]:
skfold = StratifiedKFold(n_splits = 5, shuffle=True)
cv_accuracy = []
n_iter = 0
for train_index, test_index in skfold.split(iris.data, iris.target):    # .split 이 인덱스 값을 뽑아줌
#     print(train_index)
#     print("-"*50)
#     print(test_index)
#     print()
    x_train,x_test = iris.data[train_index],iris.data[test_index]
#    print(x_train, x_test)
    y_train, y_test = iris.target[train_index], iris.target[test_index]
    dt_clf.fit(x_train, y_train)
    pred = dt_clf.predict(x_test)
    accuracy = accuracy_score(y_test,pred)   # 정확도
    cv_accuracy.append(accuracy)
    n_iter += 1
    print(f'{n_iter}번째 교차검증')
    print(f'학습데이터 건수 : {x_train.shape[0]}, 검증데이터 건수:{x_test.shape[0]}')
    print(f'정확도:{accuracy}')
print(np.mean(cv_accuracy))

1번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.8666666666666667
2번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9333333333333333
3번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9666666666666667
4번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9666666666666667
5번째 교차검증
학습데이터 건수 : 120, 검증데이터 건수:30
정확도:0.9333333333333333
0.9333333333333333

##### 머신러닝 모델 만들어서 데이터를 나눠넣어 학습, 검증해봄